:root {
  --responsiveUnit: calc(1vmin + 1vmax);
  --dynamicHeight: 100vh;

  --wall: #475F83;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
  --black: #000000;
  --white: #ffffff;

  --footerHeight: calc(var(--responsiveUnit) * 2);
  --mainHeight: calc(var(--dynamicHeight) - var(--footerHeight));
}

@media (orientation: portrait) {
  :root {
    --footerHeight: calc(var(--responsiveUnit) * 4);
  }
}

@supports (height: 100dvh) {
  :root {
    --dynamicHeight: 100dvh;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

html,
body {
  height: var(--dynamicHeight);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--wall);
  text-align: center;
  font-family: sans-serif;
}

body[theme="dark"] {
  color: var(--black);
}

footer {
  /* background: red; */
  min-height: var(--footerHeight);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer h2 {
  font-size: calc(var(--responsiveUnit) * 1);
}

footer h2:first-child {
  margin-left: calc(var(--responsiveUnit) * 1);
}

footer h2:last-child {
  margin-right: calc(var(--responsiveUnit) * 1);
}

footer h2 a {
  color: var(--white);
}

body[theme="dark"] footer h2 a {
  color: var(--black);
}

footer h2 span#heart {
  color: var(--danger);
}

@media (orientation: portrait) {
  footer h2 {
    font-size: calc(var(--responsiveUnit) * 1.75);
  }
}

main {
  min-height: var(--mainHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

main .header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(var(--responsiveUnit) * 2);
}

main .header img {
  width: calc(var(--responsiveUnit) * 4);
  object-fit: cover;
  margin-right: calc(var(--responsiveUnit) * 1);
  padding-bottom: calc(var(--responsiveUnit) * 0.75);
}

body[theme="dark"] main .header img {
  filter: invert(1);
}

main .header a {
  text-decoration: none;
  color: var(--white);
  font-weight: bolder;
  font-size: calc(var(--responsiveUnit) * 4);
}

body[theme="dark"] main .header a {
  color: var(--black);
}

main .buttons a {
  color: var(--black);
  background: var(--white);
  width: calc(var(--responsiveUnit) * 20);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: calc(var(--responsiveUnit) * 2);
  padding-block: calc(var(--responsiveUnit) * 0.25);
  border-radius: calc(var(--responsiveUnit) * 2);
  margin-bottom: calc(var(--responsiveUnit) * 1);
  transition: 0.3s ease;
}

body[theme="dark"] main .buttons a {
  color: var(--white);
  background: var(--black);
}

main .buttons a:last-child {
  margin-bottom: 0;
}

main .buttons a:hover,
body[theme="dark"] main .buttons a:hover {
  background: var(--medium);
}

@media (orientation: portrait) {
  main .header {
    margin-bottom: calc(var(--responsiveUnit) * 6);
  }

  main .header img {
    width: calc(var(--responsiveUnit) * 7);
    margin-right: calc(var(--responsiveUnit) * 1);
    padding-bottom: calc(var(--responsiveUnit) * 1.75);
  }

  main .header a {
    font-size: calc(var(--responsiveUnit) * 5.75);
  }

  main .buttons a {
    width: calc(var(--responsiveUnit) * 25);
    font-size: calc(var(--responsiveUnit) * 3);
    padding-block: calc(var(--responsiveUnit) * 1.25);
    border-radius: calc(var(--responsiveUnit) * 4);
    margin-bottom: calc(var(--responsiveUnit) * 3);
  }
}
