:root {
  --responsiveUnit: calc(1vmin + 1vmax);
  --dynamicHeight: 100vh;

  --wall: #475F83;

  --primary: #3880ff;
  --secondary: #3dc2ff;
  --tertiary: #5260ff;
  --success: #2dd36f;
  --warning: #ffc409;
  --danger: #eb445a;
  --dark: #222428;
  --medium: #92949c;
  --light: #f4f5f8;
  --black: #000000;
  --white: #ffffff;

  --headerHeight: calc(var(--responsiveUnit) * 4);
  --footerHeight: calc(var(--responsiveUnit) * 2);
  --mainHeight: calc(var(--dynamicHeight) - var(--headerHeight) - var(--footerHeight));
}

@media (orientation: portrait) {
  :root {
    --headerHeight: calc(var(--responsiveUnit) * 6);
    --footerHeight: calc(var(--responsiveUnit) * 4);
  }
}

@supports (height: 100dvh) {
  :root {
    --dynamicHeight: 100dvh;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
  min-width: 0;
}

html,
body {
  height: var(--dynamicHeight);
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: var(--wall);
  text-align: center;
  font-family: sans-serif;
}

body[theme="dark"] {
  color: var(--black);
}

header,
footer {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  /* background: red; */
  min-height: var(--headerHeight);
  justify-content: center;
}

header img {
  height: calc(var(--responsiveUnit) * 3.5);
  object-fit: cover;
  margin-right: calc(var(--responsiveUnit) * 1);
  padding-bottom: calc(var(--responsiveUnit) * 0.25);
}

body[theme="dark"] header img {
  filter: invert(1);
}

header a {
  text-decoration: none;
  color: var(--white);
  font-weight: bolder;
  font-size: calc(var(--responsiveUnit) * 3);
}

body[theme="dark"] header a {
  color: var(--black);
}

@media (orientation: portrait) {
  header img {
    height: calc(var(--responsiveUnit) * 5.5);
    margin-right: calc(var(--responsiveUnit) * 1);
    padding-bottom: calc(var(--responsiveUnit) * 0.75);
  }

  header a {
    font-size: calc(var(--responsiveUnit) * 4);
  }
}

footer {
  /* background: red; */
  min-height: var(--footerHeight);
  justify-content: space-between;
}

footer h2 {
  font-size: calc(var(--responsiveUnit) * 1);
}

footer h2:first-child {
  margin-left: calc(var(--responsiveUnit) * 1);
}

footer h2:last-child {
  margin-right: calc(var(--responsiveUnit) * 1);
}

footer h2 a {
  color: var(--white);
}

body[theme="dark"] footer h2 a {
  color: var(--black);
}

footer h2 span#heart {
  color: var(--danger);
}

@media (orientation: portrait) {
  footer h2 {
    font-size: calc(var(--responsiveUnit) * 1.75);
  }
}

main {
  /* background: red; */
  min-height: var(--mainHeight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: auto;
}

main .settings-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: calc(var(--responsiveUnit) * 0.25) solid var(--white);
  padding-inline: calc(var(--responsiveUnit) * 2);
}

body[theme="dark"] main .settings-header {
  border-top: calc(var(--responsiveUnit) * 0.25) solid var(--black);
}

main .settings-header a {
  margin-right: calc(var(--responsiveUnit) * 2);
}

main .settings-header a img {
  height: calc(var(--responsiveUnit) * 2.5);
  object-fit: cover;
  filter: invert(1);
}

body[theme="dark"] main .settings-header a img {
  filter: invert(0);
}

main .settings-header h1 {
  font-size: calc(var(--responsiveUnit) * 2.5);
}

main .settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(var(--responsiveUnit) * 2);
  width: calc(var(--responsiveUnit) * 40);
}

main .settings-content .settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: calc(var(--responsiveUnit) * 4);
  width: 100%;
  padding-inline: calc(var(--responsiveUnit) * 2);
  background: var(--white);
  color: var(--black);
  border-radius: calc(var(--responsiveUnit) * 2);
  margin-bottom: calc(var(--responsiveUnit) * 1);
}

body[theme="dark"] main .settings-content .settings-item {
  background: var(--black);
  color: var(--white);
}

main .settings-content .settings-item:last-child {
  margin-bottom: 0;
}

main .settings-content .settings-item h2 {
  font-size: calc(var(--responsiveUnit) * 1.5);
}

main .settings-content .settings-item .settings-item-options {
  /* background: red; */
  height: 100%;
  width: calc(var(--responsiveUnit) * 10);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: calc(var(--responsiveUnit) * 1);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(var(--responsiveUnit) * 3);
  width: calc(var(--responsiveUnit) * 3);
  padding: calc(var(--responsiveUnit) * 0.5);
  border-radius: 50%;
  border: calc(var(--responsiveUnit) * 0.3) solid transparent;
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option:not(.text) {
  cursor: pointer;
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.text {
  font-size: calc(var(--responsiveUnit) * 1.5);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.theme {
  background: var(--wall);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.theme img {
  filter: invert(1);
}

body[theme="dark"] main .settings-content .settings-item .settings-item-options .settings-item-options-option.theme img {
  filter: invert(0);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.theme.selected {
  border-color: var(--black);
}

body[theme="dark"] main .settings-content .settings-item .settings-item-options .settings-item-options-option.theme.selected {
  border-color: var(--white);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.remove,
main .settings-content .settings-item .settings-item-options .settings-item-options-option.add {
  padding: 0;
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.remove img {
  filter: invert(15%) sepia(20%) saturate(7457%) hue-rotate(343deg) brightness(93%) contrast(98%);
}

main .settings-content .settings-item .settings-item-options .settings-item-options-option.add img {
  filter: invert(21%) sepia(10%) saturate(6302%) hue-rotate(86deg) brightness(95%) contrast(81%);
}

@media (orientation: portrait) {
  main .settings-header {
    border-top: calc(var(--responsiveUnit) * 0.3) solid var(--white);
    padding-inline: calc(var(--responsiveUnit) * 4);
  }

  body[theme="dark"] main .settings-header {
    border-top: calc(var(--responsiveUnit) * 0.3) solid var(--black);
  }

  main .settings-header a {
    margin-right: calc(var(--responsiveUnit) * 2);
  }

  main .settings-header a img {
    height: calc(var(--responsiveUnit) * 2.5);
  }

  main .settings-header h1 {
    font-size: calc(var(--responsiveUnit) * 2.5);
  }

  main .settings-content {
    margin-top: calc(var(--responsiveUnit) * 5);
    width: calc(var(--responsiveUnit) * 25);
  }

  main .settings-content .settings-item {
    height: calc(var(--responsiveUnit) * 5);
    padding-inline: calc(var(--responsiveUnit) * 2);
    border-radius: calc(var(--responsiveUnit) * 4);
    margin-bottom: calc(var(--responsiveUnit) * 1);
  }

  main .settings-content .settings-item .settings-item-options .settings-item-options-option.text {
    font-size: calc(var(--responsiveUnit) * 1.75);
  }
}
